$blue: #3674ff;
$black: #202020;
$green: #00c980;

$brown_white:#595959;

$current_color:#1E1D1D;
$current_text_color:#D7D3D3;
$current_border: rgba(215, 211, 211, .2);

$white_blue:#bfbfbf;
$brown:#262626;

$message-typing-blue: #e5edff;
$message-typing-circle: #a6bdf0;