$blue: #3674ff;
$black: #202020;
$green: #00c980;

$brown_white:#595959;

$current_color:#1f1f1f;

$white_blue:#bfbfbf;
$brown:#262626;

$message-typing-blue: #e5edff;
$message-typing-circle: #a6bdf0;