@import '~antd/dist/reset.css';
@import '~reset-css';

@import 'layouts/_chat.scss';

body,
html,
#root,
.wrapper {
height: 100%;
  color:#202020;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

*,
html * /* override x.xhtml.ru style */
{
  scrollbar-width: thin;
  scrollbar-color: blue orange;

}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: rgb(231, 231, 231);
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(187, 185, 185);
  border-radius: 5px;
  border: 3px solid rgb(187, 185, 185);
}
