.block {
  padding:45px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  backdrop-filter: blur(3px);

  .alert {
    margin-bottom: 10px;
  }
}