@import '../variables';

.popover {
  & .ant-popover-inner-content {
    padding: 0;
  }

  & .ant-popover-arrow {
    display: none;
  }

  & .ant-popover-inner {
    padding: 6px;
    background-color: #434343;
  }
}

.setting-menu_block {
  min-width: 200px;
  background: none;

  &-blur {
    li {
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      color: $white_blue;
      transition: 0.1s linear;

      &:hover {
        background-color: rgba(17%, 16%, 16%, 1);
        //backdrop-filter: blur(45px);
      }
    }
  }
}

.chat {
  display: flex;
  height: 100%;
  background-color: #fff;
  $item: &;
  &__sidebar {
    width: 25%;
    border-right: 1px solid $current_border;
    position: relative;
    overflow: hidden;
    background-color: $current_color;

    .ant-drawer-header {
      padding: 0px;
    }

    .ant-drawer-content-wrapper {
      box-shadow: none;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 21px;
      height: 58px;
      //border-bottom: 1px solid $brown;
      margin-bottom: 20px;

      &_new-dialog {
        font-size: 20px;
        color:$current_text_color;
      }
      &_title {
        font-size: 20px;
        color:$current_text_color;
      }

      &-drawer {
        margin-left: 10px;
        span {
          color: #595959;
          font-size: 20px;
        }
      }

      .ant-drawer-content {
        background-color: $current_color;
      }

      &-setting_menu {
        padding: 7px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.2s linear;

        & .anticon-menu {
          color: #595959;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    &-search {
      padding: 0 20px 20px 20px;

      .ant-input-affix-wrapper {
        background-color: $brown;
        border: 0;
      }

      .ant-input-prefix {
        color: $white_blue;
      }

      .ant-input {
        border: 0;
        height: 28px;
        padding: 4px 11px 6px;
        background-color: $brown;
        color: $white_blue;

        &::placeholder {
          color: $white_blue;
        }
      }
    }

    &-dialogs {
      height: calc(100% - 146px);

      & a {
        text-decoration: none;
      }

      .dialogs {
        height: 100%;
        overflow: auto;

        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          transition: 0.1s;
          cursor: pointer;
          &.active,
          &:hover {
            background-color: $brown;
          }
        }
      }
    }
  }

  &__dialog {
    flex: 1;
    background-color: $current_color;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 12px 8px 12px;
      border-bottom: 1px solid $current_border;
      background-color: $current_color;

      &_wrapper {
        display: flex;
      }

      &-center {
        text-align: center;
      }

      &-username {
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
        color: $white_blue;
        cursor: pointer;
        font-size: 19.0667px;
        line-height: 25px;
      }

      &status {
        text-align: left;
      }
    }

    &-messages {
      //box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 16px -18px inset;
      padding: 20px 20px 0 20px;
      //background-color: #d9f7be;
      height: calc(100% - 142px);
      overflow: auto;
    }
  }
}