.hover-button {
  padding: 7px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s linear;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  & .anticon-menu {
    color: #595959;
  }

  &:hover {
    background-color: #262626;
  }
}